* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

p {
  margin-left: 20px;
}

input {
  width: 100%;
  padding: 10px;
}

button {
  font-size: 15px;
  padding: 5px 20px;
  background-color: #222;
  color: #eee;
  cursor: pointer;
  margin-top: 20px;
}

.container {
  padding: 200px;
  display: grid;
  grid-template-columns: 300px auto;
}